# IMPROGYP - Git Exclusions
.env
.DS_Store
*.log
cache_*.json
cache_geo/
img_temp_carga/
temp/
storage/import_tmp/
copia_seguridad_IMPROGYP.sql
*.sql
improgyp_deploy.zip
node_modules/
.vscode/
.idea/
uploads/blog/*
!uploads/blog/.gitkeep
uploads/locales/*
!uploads/locales/.gitkeep
